body {
    background-image: url(45.jpg);
    background-repeat: no-repeat;
    background-size: 100%
}
label {
    color: aliceblue;
    font-size: 200%;
    margin-left: 30%;
    }
.nu {
    font-size: 50px;
    width: 10%;
height: 30px;
    
}
button {
    width: 10%;
    background-color: aqua;
    margin-top: 10%;
    
}
.re{
    width: 10%;
    border: 2px solid #fff;
    color: aliceblue;
    margin-top: 3%;
    margin-left: 50%;
    font-size: 50px;
}
